@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

h1 {
  font-family: Roboto, sans-serif;
}

h3 {
  font-family: Roboto, sans-serif;
}

p {
  font-family: Roboto, sans-serif;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}
.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
  min-height: 150px;
}
