@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: Roboto, sans-serif;
}

h3 {
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}
