@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card[mat-ink-ripple] {
  position: relative;
}

.container {
  margin: 20px;
  display: flex;
}
